<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Yao Longfei" />
		<!-- 作者 -->
		<meta name="revised" content="Yao.v1, 2016/7/11" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<!-- 搜索关键字 -->
		<title>某某市公安局</title>
		<!-- 基础样式文件 开始 -->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="css/base.css" rel="stylesheet" type="text/css">
		<link href="css/list_wz.css" rel="stylesheet" type="text/css">
		<!-- 基础样式文件结束 -->
		<!-- 基础JS文件 开始 -->
		<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<!-- 基础JS文件 结束 -->
	</head>

	<body>
		<!-- top 开始 -->
		<!-- <div class="top">
			<div class="top_box">
				你好，欢迎访问某某市公安局网站！&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="">登录</a>&nbsp;
				<a>|</a>&nbsp;
				<a href="">注册</a>
			</div>
		</div> -->
		<!-- top 结束 -->
		
		<!-- main 开始 -->
		<div class="main">
			<div class="main_box">

				<!-- logo 开始 -->
				<div class="logo"></div>
				<!-- logo 结束 -->

				<!-- banner 开始 -->
				<div class="banner">
					<ul>
						<li class="right_border"><a href="index.html">网站首页</a></li>
						<li class="right_border"><a href="list_pic.html">警务快讯</a></li>
						<li class="right_border"><a href="list_wz.html">公文中心</a></li>
						<li class="right_border"><a href="">警情动态</a></li>
						<li class="right_border"><a href="">基层动态</a></li>
						<li class="right_border"><a href="">部门工作</a></li>
						<li class="right_border"><a href="">教育培训</a></li>
						<li class="right_border"><a href="">机关事务</a></li>
						<li class="right_border"><a href="">警综平台</a></li>
						<li><a href="">指挥调度</a></li>
					</ul>
				</div>
				<!-- banner 结束 -->

				<!-- address 开始 -->
				<div class="address">
					<img src="img/address_ico.png"/><a href="javascript:void(0);">首页</a><a>：</a><a href="javascript:void(0);">警务快讯</a><a>&gt;</a><a href="javascript:void(0);">警务快讯</a><a>&gt;</a><a href="javascript:void(0);">局内要闻</a>
				</div>
				<!-- address 结束 -->

				<!-- list_main 开始 -->
				<div class="list_main">
					<!-- hot 开始 -->
					<div class="hot">
						<div class="hot_title">
							警务快讯
						</div>
						<div class="hot_content">
							<div class="hot_content_box">
								<div class="hot_content_box_title">
									<img src="img/hot_list_ico.png" />警务快讯
								</div>
								<div class="hot_content_box_content">
									<ul>
										<li><a href="#">局内要闻</a></li>
										<li><a href="#">会议活动</a></li>
										<li><a href="#">领导讲话</a></li>
									</ul>
								</div>
							</div>
							<div class="hot_content_box">
								<div class="hot_content_box_title">
									<img src="img/hot_list_ico.png" />和谐警营建设专栏
								</div>
								<div class="hot_content_box_content">
									<ul>
										<li><a href="#">上级来文</a></li>
										<li><a href="#">和谐警营建设专刊</a></li>
										<li><a href="#">经验交流</a></li>
									</ul>
								</div>
							</div>
							<div class="hot_content_box">
								<div class="hot_content_box_title">
									<img src="img/hot_list_ico.png" />援疆特刊
								</div>
								<div class="hot_content_box_content">
									<ul>
										<li><a href="#">援疆快讯</a></li>
										<li><a href="#">民警心声</a></li>
										<li><a href="#">突出战绩</a></li>
										<li><a href="#">后方支援</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- hot 结束 -->
					<!-- list_con 开始 -->
					<div class="list_pic_con">
						<div class="list_pic_con_title">
							<font>警情动态</font>
						</div>
						<div class="list_pic_con_content">
							<ul>
								<li>
									<img src="img/list_wz/pic_list_PIC1.png">
									<p class="title"><a href="content.html">五年后我市力争成为制造业强市</a></p>
									<p class="time">时间：2015-06-05</p>
									<p class="con">除了各大网站也是进大网大网站也是牛，肉战略要地站也是口牛高端战略要地,除了各大网站也是进大网大网站也是牛肉战略要地站也是口牛高端战略要地,除了各大网站也是进大网大网站…<a href="content.html">【查看全文】</a></p>
									</p>
								</li>
								<li>
									<img src="img/list_wz/pic_list_PIC2.png">
									<p class="title"><a href="content.html">上官吉庆在陕西代表团媒体开放日上回答媒体提问</a></p>
									<p class="time">时间：2015-06-05</p>
									<p class="con">除了各大网站也是进大网大网站也是牛，肉战略要地站也是口牛高端战略要地,除了各大网站也是进大网大网站也是牛肉战略要地站也是口牛高端战略要地,除了各大网站也是进大网大网站…<a href="content.html">【查看全文】</a></p>
									</p>
								</li>
								<li>
									<img src="img/list_wz/pic_list_PIC3.png">
									<p class="title"><a href="#">我市全面排查物业管理 项目特种设备安全隐患</a></p>
									<p class="time">时间：2015-06-05</p>
									<p class="con">除了各大网站也是进大网大网站也是牛，肉战略要地站也是口牛高端战略要地,除了各大网站也是进大网大网站也是牛肉战略要地站也是口牛高端战略要地,除了各大网站也是进大网大网站…<a href="#">【查看全文】</a></p>
									</p>
								</li>
							</ul>
							<div class="page">
								<ul>
									<li class="border_3">共195条</li>
									<li class="border_3">共50页</li>
									<li class="border_3"><a href="">首页</a></li>
									<li class="border_3"><a href="">《</a></li>
									<li class="border_3 active"><a href="">1</a></li>
									<li class="border_3"><a href="">2</a></li>
									<li class="border_3"><a href="">3</a></li>
									<li class="border_3"><a href="">末页</a></li>
									<li class="border_3"><a href="">》</a></li>
									<li class="border_3" style="margin-right: -5px; padding: 1px;"><input class="text" type="text" value="1"></li>
									<li class="border_4"><a href="">跳转</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- hot 结束 -->
				</div>
				<!-- list_main 结束 -->

				<!-- bottom_banner 开始 -->
				<div class="bottom_banner">
					<ul>
						<li class="right_border">
							<a href="">系统管理</a>
						</li>
						<li class="right_border">
							<a href="">金山毒霸</a>
						</li>
						<li class="right_border">
							<a href="">数字证书申请</a>
						</li>
						<li class="right_border">
							<a href="">一机两用注册</a>
						</li>
						<li class="right_border">
							<a href="">二手机系统</a>
						</li>
						<li class="right_border">
							<a href="">生活资讯</a>
						</li>
						<li class="right_border">
							<a href="">安全管理平台</a>
						</li>
						<li class="right_border">
							<a href="">电子邮局</a>
						</li>
						<li class="right_border">
							<a href="">FTP空间</a>
						</li>
						<li class="right_border">
							<a href="">终端安全助手</a>
						</li>
						<li>
							<a href="">故障申告</a>
						</li>
					</ul>
				</div>
				<!-- bottom_banner 结束 -->

				<!-- bottom 开始 -->
				<div class="bottom">
					COPYRIGHT版权所有 设计开发：公安局信息通信处&信息中心
				</div>
				<!-- bottom 结束 -->
			</div>
		</div>
		<!-- main 结束 -->

	</body>

</html>